WCF/DiaView.WCF/demo/security/basicHttpBinding_Message_Certificate/WCFClient/Service References/ServiceReference1/mex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://chnking.com" elementFormDefault="qualified" targetNamespace="http://chnking.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientIdentity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>